.App {
  text-align: center;
}

.home {
  overflow: auto;
  height: 75vh;
}

.userForm {
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}

.logo {
  width: 25%;
  height: auto;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.taf {
  width: 50%;
  height: auto;
}

.navBar {
  background-color: rgb(255, 140, 0);
  margin-bottom: 2em;
}

.greeting {
  display:block;
  position: absolute;
  left: 0%;
  top: 0%;
  padding: 1em;
  color: white;
  background-color: rgb(255, 140, 0);
  border-radius: 50%;
  font-size: 1.2em;
}

.navTab {
  display: inline-block;
  width: 10%;
  padding: 0.75em;
  margin: .5em;
  background: rgb(255, 140, 0);
  text-decoration: none;
  color: white;
}

button, input[type=submit] {
  border: 0px;
  border-radius: 20px;
  background-color: rgb(255, 140, 0);
  text-decoration: none;
  color: white;
  padding: .5em 1.25em;
  margin: .5em;
}

@media(hover: hover) {
  .navTab:hover, .logout:hover {
    background: rgb(210, 209, 208);
    color: rgb(255, 140, 0);
    cursor: pointer;
    border-radius: 50%;
  }
  
  button:hover, input[type=submit]:hover {
    background: rgb(210, 209, 208);
    color: rgb(255, 140, 0);
    cursor: pointer;
  }
}

input[type=text], textarea {
  border-radius: 5px;
  width: 50%;
}


.logout {
  position: absolute;
  right: 5%;
  top: 0%;
  display: inline-block;
  width: 10%;
  padding: .75em;
  margin: .5em;
  border: none;
  background: rgb(255, 140, 0);
  text-decoration: none;
  color: white;
}

input[type=checkbox] {
  background: rgb(255, 140, 0);
}

.message {
  text-align: left;
}

#discGrid {
  margin-left: 20%;
  margin-right: 20%;
  overflow: auto;
  height: 60vh;
}

#discForm {
  margin-left: 25%;
  margin-right: 25%
}

#courseGrid {
  margin-left: 30%;
  margin-right: 30%;
  overflow: auto;
  height: 60vh;
}

#formGrid {
  margin-left: 25%;
  margin-right: 25%;
  overflow: auto;
  height: 60vh;
}

.score {
  font-size: 5em;
  font-weight: bold;
}

.delete {
  right: 5%;
  bottom: 3%;
  position: absolute;
  margin: 0px;
  padding: .25em;
  border-radius: 0;
  font-size: .75em;
  color: rgb(255, 140, 0);
  background-color: white;
}

.delete:hover {
  color: rgb(210, 209, 208);
  background-color: white
}

h3 {
  margin: 0%;
}

ul {
  list-style-position: inside;
}

@media (max-width: 550px) {
  .App { 
    font-size: .75em; 
  }

  input[type=text], textarea {
    width: 75%;
  }

  .greeting {
    font-size: 1em;
    width: 22%;
    line-height: 1.1em;
    overflow-wrap: normal;
  }

  #discGrid {
    margin-left: 10%;
    margin-right: 10%;
  }

  #courseGrid, #formGrid {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .navTab {
    width: 14%;
    margin: .25em;
    padding: .75em
  }

  .logout {
    right: 0%;
    top: 1%;
    width: 17%;
    padding: .5em;
    margin: .25em
  }

  .score {
    font-size: 2.5em;
  }
}



